#field {
    margin-top: 10%;
    margin-bottom: 10%;
    /*margin: 5%;*/
    /*border: 0.2em dashed white;*/
    /*width: 100%;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    /*padding-top: 100%;*/

    /*background-color: red;*/
}

.rowCell {
    width: 80%;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.cell {
    /*width: auto;*/
    /*display:table-cell;*/
    width: 10%;
    padding-bottom: 10%;
    background-color: white;

    /*padding: 10%;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    /*margin: 2px;*/
    /*border-radius: 1px;*/
}

@keyframes camouflage {
    0% {background-color: #4ef866;}
    30% {background-color: #65f828;}
    70% {background-color: #65d66e;}
    100% {background-color: #4ef866;}
}

@keyframes fire {
    0% {background-color: #f09d25;}
    30% {background-color: #f3d439;}
    70% {background-color: #ffc80a;}
    100% {background-color: #f09d25;}
}

@keyframes sea {
    0% {background-color: #3987c9;}
    30% {background-color: #225178;}
    70% {background-color: #4098e2;}
    100% {background-color: #3987c9;}
}

.ship {
    /*background-color: #22527a;*/
    /*border: 2px solid #34e77e;*/
    /*margin: 0;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
    /*opacity: 0;*/
    /*box-shadow: 0 1px 2px rgba(60, 231, 199, 0.7);*/

    animation: camouflage 10s ease infinite;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.dead {
    /*background-color: #f0454a;*/
    animation: fire 3s ease infinite;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

.void {
    animation: sea 20s ease infinite;

}

#question {
    margin: 10%;
    /*height: 200px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

    color: black;
    padding: 5%;
    background-color: white;
    border-radius: 1em;

    border: 0.2em dashed #22527a;
}

#hint {
    margin: 0 10% 10% 10%;
    display: none;
    /*height: 200px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

    color: black;
    padding: 5%;
    background-color: white;
    border-radius: 1em;

    border: 0.2em dashed #22527a;
}
