html, body {
    padding: 0;
    margin: 0;

    font-family: 'Macondo', cursive;
}

.row {
    background-color: lightgreen;
}

.title {
    text-align: center;
}

.image {
    width: 100%;
}

.button {
    text-align: center;
}

.field {

}
