@import url('http://fonts.googleapis.com/css?family=Bad+Script|Jura|Marmelad|Pattaya');

html, body {
    padding: 0;
    margin: 0;

    /*font-family: 'Bad Script', cursive;*/
    /*font-family: 'Jura', sans-serif;*/
    font-family: 'Marmelad', sans-serif;
    /*font-family: 'Pattaya', sans-serif;*/


    color: white;
    font-size: 1em;
    letter-spacing: 1px;

    background-color: #3987c9;

    /*border: 0.1em solid white;*/
}

#container {

    /*position: fixed;*/
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    /*background-color: lightgreen;*/
}

.title {
    text-align: center;

    margin: 10%;
    font-size: 2em;
}

.image {
    width: 100%;
}

.menu {
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu .button {
    padding: 5%;
}

.button {
    text-align: center;
    font-size: 1em;
    background-color: #22527a;

    border: 0.2em dashed white;
    border-radius: 1em;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.7);
}

.start {
    margin: 10%;
    padding: 10%;
}

.button:active {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

#text {
    /*visibility: hidden;*/
}

#field {

    margin-top: 10%;
    /*margin: 5%;*/
    /*border: 0.2em dashed white;*/
    /*width: 100%;*/
    display: flex;
    align-items: center;
    flex-direction: column;
    /*padding-top: 100%;*/
    /*background-color: red;*/
}

.rowCell {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
}

.cell {
    /*width: auto;*/
    /*display:table-cell;*/
    width: 1.8em;
    height: 1.8em;
    background-color: white;

    /*padding: 10%;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    /*margin: 2px;*/
    /*border-radius: 1px;*/
}

.shot {
    background-color: #22527a;
    /*border: 2px solid #34e77e;*/
    /*margin: 0;*/
    /*border-radius: 0;*/
    /*box-shadow: none;*/
    /*opacity: 0;*/
    /*box-shadow: 0 1px 2px rgba(60, 231, 199, 0.7);*/
}

.dead {
    background-color: #f0454a;
}

#question {
    margin: 10%;
    /*height: 200px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);

    color: black;
    padding: 5%;
    background-color: white;
    border-radius: 1em;

    border: 0.2em dashed #22527a;
}

.input {
    /*display: flex;*/
    /*align-items: center;*/
    text-align: center;
}

input {
    /*position: relative;*/
    /*left: 1em;*/
    /*right: 1em;*/
    width: 70%;
    padding: 5%;
    /*width: 100%;*/
    font-size: 1em;
    /*box-shadow:inset 0 3px 4px rgba(0, 0, 0, 0.7);*/
    border: none;
    border-radius: 0;

    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;

    font-family: 'Marmelad', sans-serif;
}

input.middle:focus {
    outline-width: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}