<header class="row title noselect">
    Конец
</header>

<div class="row">
    <div id="conclusion">
        Была Россия в древние времена довольно мужественна и храбра, но не довольно вооружена, ниже правильно расположена. И как политическая пословица сказует о государствах, морского флота не имущих, что не токмо одну руку имеют, а имеющие и флот - обе, так и наша Россия одну только руку имела тогда.

        Петр I.
    </div>
</div>

<footer class="row menu">
    <div class="button noselect" onclick="init()">
        Играть еще
    </div>
    <div class="button noselect" onclick="buy()">
        Купить
    </div>
</footer>