<header class="row title noselect">
    Конец
</header>

<div class="row">
    <div id="conclusion">
        Существуют варианты игры, отличающиеся правилами (распространённые за пределами России). В основном, это касается количества и размера кораблей, например, вариант компании «Милтон Брэдли» — пятиклеточный, четырёхклеточный, два трёхклеточных и двухклеточный. Существуют варианты, где игрок может стрелять больше одного раза подряд. Также очень отличающийся вариант описан в книге Я. И. Перельмана «Занимательные Задачи и опыты».
    </div>
</div>

<footer class="row menu">
    <div class="button noselect" onclick="init()">
        Играть еще
    </div>
    <div class="button noselect" onclick="buy()">
        Купить
    </div>
</footer>