<header class="row title noselect">
    Морской бой
</header>

<footer class="row center">
    <div id="play" class="button start noselect" onclick="rules()">
        Начать игру
    </div>

    <div class="row title">
        <img src="favicon.ico" style="width: 100%; opacity: 0.2">
    </div>

    <!--<div class="button start noselect" onclick="init()">-->
        <!--PLAY-->
    <!--</div>-->
    <!--<div class="button start noselect" onclick="init()">-->
        <!--玩-->
    <!--</div>-->
    <div class="button start noselect" onclick="end()">
        Конец игры
    </div>
</footer>