<div class="row">
    <div id="question">
        Ваш дом со всем вашим имуществом загорелся. После спасения близких и домашних животных у вас есть время, чтобы забежать в дом еще раз и спасти какую-то одну вещь. Что бы это могло быть?
    </div>
</div>

<div class="row input">
    <input placeholder="Ваш ответ" autofocus>
</div>

<footer class="row menu">
    <div class="button noselect" onclick="random()">
        Не ответить
    </div>
    <div class="button noselect" onclick="start()">
        Ответить
    </div>
</footer>

