<div class="row">
    <div class="question" id="question"></div>
</div>

<div class="row title noselect" id="text"></div>

<div class="row input">
    <input placeholder="Ваш ответ" autofocus>
</div>

<footer class="row menu">

    <div class="button noselect" onclick="showMuseumMap()">
        Карта
    </div>

    <div class="button noselect" onclick="answer()">
        Ответить
    </div>

</footer>

<!--<div class="row menu">-->
    <!--<div class="button noselect" style="margin: 0 auto;" onclick="fool()">-->
        <!--Ответить-->
    <!--</div>-->
<!--</div>-->

<div class="row menu question" id="timer">
    <div class="button noselect" style="margin: 0 auto;">
        Подсказка
    </div>
</div>


