<header class="row title noselect">
    Как играть
</header>

<div class="row">
    <div id="question">
        Правила очень просты и знакомы вам с детства! Вам нужно потопить мои корабли, пока я не потопил ваши! У вас есть броненосец (4 клетки), 2 крейсера (3 клетки), 3 миноносца (2 клетки) и 4 подводные лодки (1 клетка). У меня – тоже. После выбора случайной расстановки кораблей мы начинаем бой.
        <br/><br/>
        При попадании в отсек корабля для вас открывается задание по музею, которое вам нужно выполнить, вбив верный ответ (вбивать можете столько раз, сколько захотите, до победного). Верный ответ это ваш точный выстрел по моим кораблям, после которого вы можете продолжать стрельбу. Вы выиграете, если первым поразите все мои корабли (20 клеток), то есть выполните 20 заданий по музею.
        Кстати, через 3 минуты после выдачи задания вас ждёт подсказка.
        <br/><br/>
        В игре есть стартовая точка (первое задание) и 4 театра морских военных действий (то есть 4 игровых зоны, в которых всего в сумме 19 заданий). Внутри каждого театра морских военных действий задания разбросаны хаотично, как буи на воде. При этом все 4 «театра» идут по музею последовательно, как сказал бы Александр Розенбаум, в «кильватерном гордом строю» и будут обозначены в заданиях картой или текстом.
        <br/><br/>
        На весь бой у вас есть 1,5 часа (современные морские сражения скоротечны).
        <br/><br/>
        Отдать швартовы!

    </div>
</div>

<footer class="row menu">

    <div class="button noselect" onclick="end()">
        Не понял
    </div>

    <div class="button noselect" onclick="init()">
        Понял
    </div>

</footer>